[submodule "preferences"]
	path = preferences
	url = git@bitbucket.org:mihaiparv/dotfiles-preferences.git
[submodule "fonts/Menlo-for-Powerline"]
	path = fonts/Menlo-for-Powerline
	url = https://github.com/abertsch/Menlo-for-Powerline.git
